header {
  background: transparent;

  .logo {
    padding-top: 60px;
    padding-left: 20px;
  }
}

header {
  max-height: 200px;
  height: 80px;
}
h1,
h2,
h3 {
  margin-bottom: 0;
}
h2 {
  margin-top: 1.5rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  margin: 2.6rem 0;
}
article h1 {
  font-size: 3rem;
  border-bottom: 1px solid #ccc;
}
.article-title {
  border: 0;
}
h2 {
  font-size: 2.6rem;
}
.subtitle {
  font-size: 2rem;
}
.dates {
  color: #666;
  font-size: 1.4rem;
}

/* =resume
---------------------------------------------------------------------------- */
header .resume-logo .logo-text {
  font-size: 4.0rem;
}
.contact-resume {
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;

  li {
    margin-right: 25px;
  }
  a {
    white-space: nowrap;

    i {
      padding-right: 5px;
    }
  }
}
.skill {
  display: flex;
}
.skill-name {
  width: 10em;
  text-align: right;
  margin-right: 10px;
}
.skill-rating {
  display: flex;
}
.skill-point,
.skill-score {
  width: 20px;
  height: 20px;
  line-height: 20px;
  align-self: center;
  margin-right: 5px;
  text-align: center;

  font-size: 1.2rem;
  font-weight: bold;

  border-radius: 50%;
  background: #ddd;
}
.skill-score {
  background: #000;
  color: #fff;
  border-radius: 0;
  background: #555;
  margin-right: 10px;
}
.rating-1 .skill-point:nth-child(1),
.rating-2 .skill-point:nth-child(-n+2),
.rating-3 .skill-point:nth-child(-n+3),
.rating-4 .skill-point:nth-child(-n+4),
.rating-5 .skill-point:nth-child(-n+5),
.rating-6 .skill-point:nth-child(-n+6),
.rating-7 .skill-point:nth-child(-n+7),
.rating-8 .skill-point:nth-child(-n+8),
.rating-9 .skill-point:nth-child(-n+9),
.rating-10 .skill-point:nth-child(-n+10) {
  background: #639DCF;
}

@media (max-width: 570px) {
  body {
    font-size: 1.4rem;
  }
  article h1 {
    font-size: 2.0rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .dates {
    font-size: 1.2rem;
  }

  .skill-name,
  .skill-score {
    font-size: 1.2rem;
  }
  .skill-point,
  .skill-score {
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
}

@media (max-width: 400px) {
  .skill-name,
  .skill-score {
    font-size: 1rem;
  }
}
